@use '../utils' as *;

/*=============================
	20. pricing
===============================*/


.td-pricing{
    &-6{
        &-wrap{
            border: none;
            border-radius: 15px;
            & .package{
                font-weight: 600;
                font-size: 26px;
                color: var(--td-grey-5);
            }
            & .para{
                font-weight: 600;
                font-size: 26px;
                line-height: 30px;
                letter-spacing: -0.01em;
                color: var(--td-theme-3);
            }
            & .price{
                font-weight: 600;
                font-size: 26px;
                letter-spacing: -0.01em;
                color: var(--td-theme-3);
                & span{
                    font-weight: 400;
                    font-size: 18px;
                }
            }
            & .price-btn{
                font-weight: 600;
                font-size: 18px;
                letter-spacing: -0.01em;
                color: var(--td-common-black);
                border: 1px solid var(--td-theme-primary);
                background: var(--td-theme-primary);
                border-radius: 10px;
                padding: 13px 31px;
                display: inline-block;
                &.greens{
                    border-color: var(--td-theme-primary);
                    background: var(--td-theme-primary);
                }
                &:hover{
                    border-color: var(--td-common-black);
                    background: var(--td-common-black);
                    color: var(--td-common-white);
                }
                &.btn-light{
                    border-color: var(--td-common-white);
                    background: var(--td-common-white);
                    color: var(--td-common-black);
                    &:hover{
                        border-color: var(--td-theme-primary);
                        background: var(--td-theme-primary);
                        color: var(--td-common-black);
                    }
                }
            }

            // Light text variant for dark backgrounds
            &.text-light {

                & .package {
                    color: var(--td-common-white);
                }
                & .para {
                    color: rgba(255, 255, 255, 0.7);
                }
                & .price {
                    color: var(--td-common-white);
                    & span {
                        color: rgba(255, 255, 255, 0.7);
                    }
                }
                & .td-pricing-6-top {
                    border-bottom-color: rgba(255, 255, 255, 0.15);
                }
                & .td-pricing-6-list ul li {
                    color: rgba(255, 255, 255, 0.8);
                    &::before {
                        background: rgba(255, 255, 255, 0.5);
                    }
                }
            }
        }
        &-list{
            padding: 30px 40px 40px 50px;
            @media #{$xs} {
                padding: 25px 20px 20px 20px;
            }
            & ul{
                & li{
                    font-weight: 500;
                    font-size: 17px;
                    color: var(--td-grey-5);
                    position: relative;
                    padding-left: 20px;
                    &:not(:last-child){
                        margin-bottom: 10px;
                    }
                    &::before{
                        position: absolute;
                        content: "";
                        width: 4px;
                        height: 4px;
                        background: #555855;
                        border-radius: 20px;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 0;
                    }
                }
            }
        }
        &-top{
            padding: 45px 80px 40px 50px;
            border-bottom: 1px solid rgba(6, 50, 49, 0.15);
            @media #{$xl,$lg,$md,$sm,$xs} {
                padding: 45px 40px 40px 50px;
            }
            @media #{$xs} {
                padding: 25px 20px 20px 20px;
            }
        }
    }
    &-main{
        &-wrap{
            & .td-pricing-6-wrap .price {
                color: var(--td-common-black);
            }
            & .td-pricing-6-wrap .para {
                color: var(--td-common-black);
            }
            & .td-pricing-6-wrap .price-btn.greens {
                border-color: var(--td-theme-primary);
                background: var(--td-theme-primary);
            }
            & .td-pricing-6-wrap .price-btn:hover {
                border-color: var(--td-theme-primary);
                background: var(--td-theme-primary);
            }
            & .td-pricing-6-list ul li {
                color: var(--td-grey-1);
            }
        }
    }
}