/* Tailwind CSS v4 */
@import "tailwindcss";

/* Essential third-party CSS */
@import "react-toastify/dist/ReactToastify.css";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "react-responsive-modal/styles.css";

/* Bootstrap Grid Only - TODO: migrate to Tailwind */
@import "../../public/assets/css/bootstrap.min.css";
@import "../../public/assets/css/defauls-spacing.css";

/* Custom styles */
@import "../../public/assets/scss/main.scss";