/* NavMenu - Navigation links list */

.list {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
}
