/* =============================================
   DraggableMarquee - Draggable looping marquee
   ============================================= */

.marquee {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: none;
  width: 100%;
  overflow: hidden;
  cursor: grab;
  user-select: none;

  &:active {
    cursor: grabbing;
  }
}

.collection {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: none;
  will-change: transform;
}

.list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: none;
}
