.splineStrip {
   overflow: hidden;
}

.container {
   position: relative;
   width: 100%;
   overflow: hidden;
   min-height: 1000px;

   @media (max-width: 1200px) {
      min-height: 850px;
   }

   @media (max-width: 992px) {
      min-height: 750px;
   }

   @media (max-width: 768px) {
      min-height: 650px;
   }

   @media (max-width: 576px) {
      min-height: 550px;
   }
}

.canvas {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: block;
}

.overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 1;
   cursor: default;
}

.content {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 2;
   width: 100%;
   text-align: center;
}
